.logo{
    margin-left: 600px;
    margin-top: 150px;
}
body {
    cursor: url('a54de5_dc8d16cbce184f2086f88d515c86592d_mv2.gif'),auto;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#808080,#000000);
  }

 